*.log                
*.tgz                
.DS_Store            
.idea               
.vscode              
node_modules          
dist                  
cache
temp
.vite_opt_cache       # Vite önbellek klasörü (ignore edilmesi doğru)
pnpm-global           # global pnpm klasörü (kişisel kurulum, ignore edilir)
